.git
.gitignore
target
frontend
docs
.vscode
.idea
.settings
.classpath
.project
.factorypath
**/node_modules
**/dist
**/target
**/*.log
.env
.env.*
**/.env
**/.env.*
**/application-local.properties
**/application-secrets.properties
**/*.launch
compose.yml
HELP.md
